body {
    background-color: #F6F7F8; /* Grey */
  }

.no-display {
    display: none;
}

.page {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #42444e;
  height: 2px;
}

.header {
  padding: 10px;
}

.top-header {
  text-align: center;
}

.top-header h1 {
  font-size: 2em;
  margin-bottom: 30px;
}

.top-header p {
  font-size: 1.05em;
  margin-bottom: 20px;
}

.top-header a:hover, a:active {
  text-decoration: none;
  border-bottom:1px solid #f44336;
  color: #f44336;
}

.content {
  /*height: 600px;*/
}

.notes {
  text-align: center;
  margin-top: 2em;
}

.notes p {
  font-size: 0.9em;
  margin-bottom: 10px;
  width: 100%;
}

.footer {
  background-color: #42444e;
  height: 50px;
}

.footer p {
  color: #fff;
  text-align: center;
  font-size: 0.9em;
}

.footer a {
  color: #fff;
}

.footer a:link, a:visited {
  text-decoration: none;
  border-bottom:1px solid #fff;
}

a:hover, a:active {
  text-decoration: none;
  border-bottom:1px solid #f44336;
  color: #f44336;
}

.center {
    margin: auto;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.main {
    margin-top: 0px;
}

.image-picked {
    margin-top: 1em;
}

.analyze {
    margin-top: 1em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    font-size: 1.2em;
}

.result-label .result-style {
    margin-top: 1.05em;
    margin-bottom: 1.05em;
    padding-bottom: 0px;
    /*background-color: #D6D9DC;*/
    border: 1px solid #D6D9DC;
    border-radius: 3px;
}

.result-label .recognized {
    padding: 5px;
    margin-bottom: 5px;
}

.result-label .palmer {
    background-color: #9eab28;
    color: #fff;
    margin-bottom: 5px;
    padding: 5px;
}

.result-label .tommy-atkins {
    background-color: #e15639;
    color: #fff;
    margin-bottom: 5px;
    padding: 5px;
}

.result-label .unrecognized {
    background-color: #f44336;
    color: #fff;
    margin-bottom: 5px;
    padding: 5px;
}

.result-label .probs{
    font-size: 0.8em;
    padding:5px;
    margin-top: 10px;
}

button.choose-file-button {
  width: 200px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #42444e;
  font-size: 13px;
  color: #42444e;
}

button.choose-file-button:hover {
  background-color: #f44336; 
  border: solid 1px #f44336;
  color: #fff;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #42444e;
    border-radius: 2px;
    background-color: #42444e;
    font-size: 13px;
    color: #ffffff;
}

button.analyze-button:hover {
  background-color: #f44336; 
  border: solid 1px #f44336;
  color: #fff;
}

button:focus {outline:0;}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Styles */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .content {
  order: 1;
  }
  .notes {
  order: 2;
  }
  .footer {
  order: 3;
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .content {
  order: 1;
  }
  .notes {
  order: 2;
  }
  .footer {
  order: 3;
  }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
