<html lang='en'>
<head>
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TGFFZ4J');</script>
<!-- End Google Tag Manager -->
	
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
	<title>Glasses or not?</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGFFZ4J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->	
<div>
    <div class='center'>
        <div class='title'>Glasses or not?</div>
        <p>
	    Use images of faces with <strong>glasses</strong> or <strong>without glasses</strong>!
        </p>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
